# ignore everything but directories
*
!*/


# whitelist source, markdown, gitignore
!*.java
!*.md
!.gitignore


# blacklist IDE artifacts
out/

# Java artifacts
*.class
#*.jar

# vim artifacts
*.swp

